/* NOTE:START GENERAL...................................................................................................................... */
* {
    font-size: 16px;
    font-family: "Poiret One";
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    height: auto;
}

a {
    text-decoration: none !important;
}

.contentLandingPage ,
.contentShoesPage,
.productContainer,
header {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -o-filter: blur(0px);
    transition: 0.4s filter linear;
    -webkit-transition: 0.4s -webkit-filter linear;
    -o-transition: 0.4s -o-filter linear;
}

h1 {
    font-family: "Hollyhock-Regular" !important;
    line-height: 0.5;
    font-size: 5.5rem;
    font-weight: normal !important;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 0;
    margin-left: -0.5rem; /* 8/16 */
    padding-top: 3rem; /* 47/16 */
}

@media (min-width: 400px) {
    h1 {
        font-size: 7rem;
    }
}

@media (min-width: 992px) {
    /*h1 {
        font-size: 7rem;
    }*/
}

section {
    /*margin-top: -5rem;*/
    padding-top: 2rem;
}

h1 em {
    font-size: 7rem;
    font-family: "Hollyhock-Regular" !important;
    font-style: normal;
}

@media (min-width: 1367px) {
    /*#home h1 {
        font-size: 14rem;
        width: 26.75rem;
    }*/

    h1 em {
        font-size: 9rem;
    }
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

#aboutPage, #place-order {
    padding-top: 5rem; /* 80/16 */
}

@media (max-width: 575px) {
    .blur {
        -webkit-filter: blur(0.1875rem); /* 3/16 */
        -o-filter: blur(0.1875rem); /* 3/16 */
        filter: blur(0.1875rem); /* 3/16 */
    }
 }

.sectionTitle {
    overflow: hidden;
}

 .curlLeft {
    margin: 0 13px 33px 0;
    height: 1rem;
 }

 .curlRight {
    margin: 0 0 33px 13px;
    height: 1rem;
 }

/* END GENERAL..............................................................................................................................*/







/* NOTE: START NAVIGATOR ...................................................................................................................*/


#navbar {
    -webkit-box-shadow: 0.3125em 0.625em 2.5em rgba(0,0,0,0.15); /* 5/16 */ /* 10/16 */ /* 40/16 */
    box-shadow: 0.3125em 0.625em 2.5em rgba(0,0,0,0.15); /* 5/16 */ /* 10/16 */ /* 40/16 */
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    z-index: 100;
}

@media (min-width: 992px) {
    #navbar {
        height: 5rem;
    }

}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}


#navContainer {
    display: flex !important;
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;

}

@media (max-width: 991px) {

    #navContainer {
        height: 0px;
        overflow: hidden;
    }

    #navContainer.visible {
        height: 27.5rem;
        padding-bottom: 1rem;
        box-sizing: content-box;
    }
}

@media (min-width: 992px) {

    #navContainer {
        margin-right: 0.9375rem; /* 15/16 */
    }

    #navContainer > li {
        margin: 0 0.9375rem; /* 15/16 */
    }

    #navContainer > li:last-child , .socialBox > li:last-child  {
        margin-right: 0;
    }
}

#navbar .nav-tabs .nav-link {
    border: none;
}

#navbar .nav-link {
    font-family: "Hollyhock-Regular";
    font-size: 3.5rem;
    line-height: 0.75;
    color: rgba(0, 0, 0, 1) !important;
    padding: 10px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    transition-property: color;
}

@media (min-width: 992px) {

    #navbar .nav-link {
        padding: 0;
    }
}

#navbar .nav-link:hover {
    color: rgba(237, 157, 177, 0.6) !important;
}

#navbar .nav-link:focus {
    color: rgba(237, 157, 177, 0.6) !important;
}

#navbar .nav-item .active , #navbar .nav-item .on {
    color: rgba(237, 157, 177, 1) !important;
}


#logo > img {
    height: 3rem; /* 44/16 */
}


#nav-icon1 {
  width: 3.4375rem; /* 55/16 */
  height: 2.1875rem; /* 35/16 */
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

@media (min-width: 992px) {
    #nav-icon1 {
        display: none;
    }
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 0.4375rem; /* 7/16 */
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1:hover  span {
  background: rgba(237, 157, 177, 1);
}

#nav-icon1 span:nth-child(1) {
  top: 0;
}

#nav-icon1 span:nth-child(2) {
  top: 0.875rem; /* 14/16 */
}

#nav-icon1 span:nth-child(3) {
  top: 1.75rem; /* 28/16 */
}

#nav-icon1.open span:nth-child(1) {
  top: 0.875rem; /* 14/16 */
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -2.5rem; /* 40/16 */
}

#nav-icon1.open span:nth-child(3) {
  top: 0.875rem; /* 14/16 */
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.socialBox {
    width: 70%;
}

.socialBox img {
    width: 2.75rem !important; /* 60/16 */
    height: 2.75rem !important; /* 60/16 */
}

@media (min-width: 992px) {

    .socialBox {
        width: 100%;
    }

    .socialBox > li {
        margin: 0 0.375rem; /* 6/16 */
    }

    .socialBox img {
        width: 2.75rem !important;
        height: 2.75rem !important;
    }

}

/* END NAVIGATOR ...........................................................................................................................*/





/* NOTE: START LANDING PAGE.................................................................................................................*/

#aboutSection  , #contactSection  {
    -webkit-box-shadow: 0 0 31px rgba(0,0,0,0.2);
    box-shadow: 0 0 31px rgba(0,0,0,0.2);
    background-color: white;
    z-index: 2;
}

.contentLandingPage {
    z-index: 1;
    /*overflow: hidden;*/
    /*position: relative;
    opacity: 0;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;*/
}


@media (min-width: 576px) {

    .contentLandingPage {
        width: 100%;
    }
}



/*..................................................START LANDING PAGE SECTIONS.............................................................*/

/*..... NOTE: START #home...................................................................................................................*/

        #home {
            overflow: hidden;
            height:  100vh;
            z-index: -2;

        }

        #home > picture {
            margin: auto;
        }

        #home > div {
            position: relative;
        }

        #home h1 {
            left: 16%;
            font-size: 8rem;
            position: absolute;
            bottom: 4%;
            text-align: right;
            width: 15.75rem;
            padding-top: 0;
        }


        @media (min-width: 576px) {
            #home h1 {
                font-size: 11rem;
                position: absolute;
                text-align: right;
                width: 22.75rem;
                padding-top: 0;
            }
        }

        @media (min-width: 768px) {
            #home h1 {
                bottom: 15%;
            }
        }

        @media (min-width: 1367px) {
            #home h1 {
                font-size: 14rem;
                width: 26.75rem;
            }
        }

        @media (min-width: 576px) {
            h1 > strong {
                font-size: 6rem;
            }
        }

        .cover {
            height: 100vh;
            width: auto;
            margin-bottom: 0;
        }

        .homeContainer {
            padding: 0;
        }

/*......END #home...........................................................................................................................*/



/*......NOTE:START #about...................................................................................................................*/

        #aboutSection  {
            position: relative;
        }

        #aboutSection  > div:nth-child(2) {
            margin-top: -40%;
        }


        @media (max-width:767px) and (orientation:landscape),
               (min-width: 576px) {
            #aboutSection  > div:nth-child(2) {
                margin-top: 0;
            }

        }

        #aboutSection  h1 {
            padding-top: 3rem;
        }

        #aboutSection  .sectionTitle .curlLeft,
        #aboutSection  .sectionTitle .curlRight {
            display: none;
        }

        @media (max-width:767px) and (orientation:landscape),
               (min-width: 768px) {
            #aboutSection  .sectionTitle .curlLeft,
            #aboutSection  .sectionTitle .curlRight {
                display: block;
            }
        }

        .aboutWrapper {
            max-width: 1200px;
        }

        .aboutImgContainer  {
            position: relative;
            z-index: -1;
        }

        @media (max-width:767px) and (orientation:landscape),
               (min-width: 576px) {
            .aboutImgContainer  {
                position: absolute;
                bottom: 0;
            }
        }

        @media (max-width:767px) and (orientation:landscape),
               (min-width: 768px) and (max-width: 1199px) {
            .aboutImgContainer  {
                right: 5%;
            }
        }

        @media (min-width: 1200px) {
            .aboutImgContainer  {
                right: 10%;
            }
        }

        .aboutImgContainer > img  {
            width: 73%;
        }

        @media (min-width: 576px) {
            .aboutImgContainer > img  {
                width: 45%;
            }
        }

        @media (max-width:767px) and (orientation:landscape),
               (min-width: 992px) {
            .aboutImgContainer > img  {
                width: 33%;
            }
        }

        .carouselContainer {
            position: relative;
        }

        .carousel-inner {
            height: 36.25rem;
        }

        @media (min-width: 400px) {
            .carousel-inner {
                height: 29.25rem;
            }
        }


        .carousel-control-prev-icon {
            background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }

        .carousel-control-next-icon {
            background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }

        .carousel-fade .carousel-item {
        	display: block;
        	position: absolute;
        	opacity: 0;
        	transition: opacity .75s ease-in-out;
        }

        .carousel-fade .carousel-item.active {
        	opacity: 1;
        }

        #fifthSlide p,
        #sixthSlide p,
        #seventhSlide p {
            font-family: "HollyHock-Regular";
            font-size: 5.5rem;
            line-height: 0.8;
        }

        @media (min-width: 400px) {
            #fifthSlide p,
            #sixthSlide p,
            #seventhSlide p {
                font-family: "HollyHock-Regular";
                font-size: 7rem;
                line-height: 0.8;
            }
        }


        #seventhSlide em {
            font-family: "HollyHock-Regular";
            font-size: 6rem;
            font-style: normal;
        }

/*......END #aboutSection  .........................................................................................................................*/



/*......NOTE: START #shoes .................................................................................................................*/


        .shoes {
           width: 100%;
           margin-bottom: 0;

       }

       @media (min-width: 576px) {

           .shoes {
               padding: 2rem;
           }
        }

        @media (min-width: 992px) {
            .shoes {
                padding: 0 7rem 3rem 7rem;
            }
        }

       .tBorder , .bBorder {
           display: none;
       }

       .shoesLink {
           padding-top: 0.9375rem;
           padding-bottom: 0.9375rem;
       }

       .shoesLink, .readMore > a {
           /*font-family: "Hollyhock-Regular" !important;*/
           line-height: 0.5;
           font-size: 1.5rem;
           /*font-weight: 600;*/
       }

       .shoesLink, .readMore > a , .anchor figcaption {
           color: rgba(0, 0, 0, 1);
           transition: color 0.3s ease-in;
           -moz-transition: color 0.3s ease-in;
           -webkit-transition: color 0.3s ease-in;
           -o-transition: color 0.3s ease-in;
       }

       .anchor figcaption {
           font-size: 1.25rem;
       }

       #pumpsSketch:hover , #sandalsSketch:hover {
           opacity: 0;
       }

       .shoesImgContainer {
           cursor: url("../img/bm/cursor.png") 2 2, default;
       }

       .shoes:hover .shoesLink, .readMore:hover > a, .anchor:hover figcaption {
           color: rgba(237, 157, 177, 1) !important;
       }

       #pumpsSketch, #sandalsSketch {
           width: 100%;
           height: 100%;
           opacity: 1;
           transition: opacity 0.6s ease-in;
           -moz-transition: opacity 0.6s ease-in;
           -webkit-transition: opacity 0.6s ease-in;
           -o-transition: opacity 0.6s ease-in;
       }

        .sandalsA, .pumpsA {
           background-position: top;
           background-repeat: no-repeat;
           background-size: contain;
       }

       .pumpsA  {
           background-image: url('../img/bm/Pumps.jpg');

       }

       .sandalsA  {
           background-image: url('../img/bm/1.jpg');
       }

       #shoes > div:last-child{
           height: auto;
       }

/*.....END #shoes ..........................................................................................................................*/




/*......NOTE: START #contactSection  ...............................................................................................................*/

        .adressContainer p {
            font-size: 1.125rem; /* 18/16 */
        }

        @media (min-width: 576px) {
            .adressContainer p {
                display: inline-block;
                margin-bottom: 0;
            }
        }

        .phoneIcon {
            height: 4.5rem;
        }

        @media (min-width: 576px) {
            .phoneIcon {
                height: 1.5rem;
                display: inline-block;
            }
        }

        .social {
            width: 100%;
        }


        .form-control {
            font-family: "Poiret One";
            font-size: 1rem;
        }



        ::-webkit-input-placeholder {
        	font-style: italic;
        	color: rgba(0, 0, 0, 1) !important;
        }

        ::-moz-placeholder {
        	font-style: italic;
        	color: rgba(0, 0, 0, 1) !important;
        }

        :-moz-placeholder {
        	font-style: italic;
        	color: rgba(0, 0, 0, 1) !important;
        }

        :-ms-input-placeholder {
            font-style: italic;
            color: rgba(0, 0, 0, 1) !important;
        }

        .form-control:hover::-webkit-input-placeholder {
        	color: rgba(237, 157, 177, 0.8) !important;
        }

        .form-control:hover::-moz-placeholder {
        	color: rgba(237, 157, 177, 0.8) !important;
        }

        .form-control:hover:-moz-placeholder {
        	color: rgba(237, 157, 177, 0.8) !important;
        }

        .form-control:hover:-ms-input-placeholder {
            color: rgba(237, 157, 177, 0.8) !important;
        }

        .form-control:focus::-webkit-input-placeholder {
            color:transparent !important;
        }

        .form-control:focus:-moz-placeholder {
             color:transparent !important;
         }

        .form-control:focus::-moz-placeholder {
            color:transparent !important;
        }

        .form-control:focus:-ms-input-placeholder {
             color:transparent !important;
        }

        .form-control:hover {
            border: 1px solid rgba(237, 157, 177, 0.5);
        }

        .form-control:focus  {
            border: 1px solid rgba(237, 157, 177, 0.5);
            background-color: transparent;
            box-shadow: none;
        }

/*......END #contactSection  .......................................................................................................................*/


/*....................................................END LANDING PAGE SECTIONS.............................................................*/


/*END LANDING PAGE..........................................................................................................................*/






/* NOTE: CATALOG PAGE...................................................................................................................... */

.productContainer ,.contentShoesPage  {
    padding-top: 5rem; /* 80/16 */
}

@media (min-width: 576px) {
    .tBorder , .bBorder {
        display: block;
    }
}

/*END CATALOG PAGE........................................................................................................................ */




/* NOTE: START DETAILS PAGE................................................................................................................ */

.midBorderPreview {
    max-width: 60% !important;
}

.shoesContainer .nav-tabs .nav-item.show .nav-link,
.shoesContainer .nav-tabs .nav-link.active,
.shoesContainer .nav-tabs .nav-link:focus,
.shoesContainer .nav-tabs .nav-link:hover,
.contentShoesPage .nav-tabs .nav-item.show .nav-link,
.contentShoesPage .nav-tabs .nav-link.active,
.contentShoesPage .nav-tabs .nav-link:focus,
.contentShoesPage .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.shoesContainer .nav-tabs {
    border-bottom: none;
}

.productDetails {
    border-top: thin solid rgba(0, 0, 0, 0.15);
    border-bottom: thin solid rgba(0, 0, 0, 0.15);
}

.productContainer h1 {
    font-size: 4.5rem;
}

@media (min-width: 576px) {
    .productContainer h1 {
        font-size: 5.5rem;
    }
}

.shoesContainer img {
     max-width: 100%;
     overflow: hidden;
}

/*.tab-pane img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.tab-pane.active img {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}*/

/*.tab-content .active > img:hover {
     -moz-transform: scale(1.3);
     -o-transform: scale(1.3);
     -webkit-transform: scale(1.3);
     transform: scale(1.3);
   }*/

.tab-content {
    z-index: 1;
}

.shoesContainer .nav-item {
    width: 25%;
}

#enlargeImageModal .modal-body {
    height: auto;
    width: auto;
    padding-top: 0;
}

.tab-pane a {
    cursor: zoom-in !important;
}

.modal-header {
    -webkit-box-shadow: 5px 10px 40px rgba(0,0,0,0.15);
    box-shadow: 5px 10px 40px rgba(0,0,0,0.15);
    z-index: 2;
}

.enlargeImageModalSource {
    height: calc(100vh - 173px);
}

@media (min-width: 576px) {

    .midBorder {
        display: none;
    }
}

/*END CATALOG PAGE......................................................................................................................... */




/* NOTE: START LEGAL-PAGES .................................................................................................................*/

#legalPages {
    padding-top: 5rem; /* 80/16 */
    padding-bottom: 15rem;
}

#legalPages p , #legalPages p > a , #legalPages p em{
    font-size: 1.125rem;
}

#legalPages h4,
#legalPages p {
    font-weight: bold;
}

#legalPages h4 , #legalPages h4 em {
    font-size: 1.75rem;
}

.legalSection {
    padding-top: 6.25rem; /* 100/16 */
}

/* NOTE: END LEGAL-PAGES ...................................................................................................................*/




/* NOTE: START PLACE-ORDER .................................................................................................................*/

#place-order  h2 {
    padding-top: 3rem;
    font-size:  3rem;
}

select option {
	color: black;
}

select option:first-child {
	color: grey;
}

select.empty {
	color: grey;
}

select option[disabled]:first-child {
	display: none;
}


#place-order label ,#initialMsg {
    font-size: 1.25rem;
    font-weight: 600;
}

#messageContainer {
    position: relative;
    overflow: hidden;
}


#msg {
    top:0;
    font-size: 1.125rem;
    font-weight: 600;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s;
}

#msg.slideDown {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.form-check input {
    font-size: 1rem;
}

/* NOTE: END PLACE-ORDER ...................................................................................................................*/




/* NOTE: START MODAL........................................................................................................................*/

.modal-header span {
    font-size: 4.0625rem;/* 65/16 */
    line-height: 0.7;
}

td {
    font-weight: bold;
}

/* NOTE: END MODAL..........................................................................................................................*/




/* NOTE: START FOOTER.......................................................................................................................*/

footer {
    z-index: 1;
}

footer * {
    font-size: 1.25rem; /* 18/16 */
}

footer a {
    color: rgba(0, 0, 0, 1);
}

footer a:hover {
    color: rgba(237, 157, 177, 1);
}

footer p {
    font-size: 1rem;
}

#moreInfoBtn {
    margin: 0 0 -2px 15px;
    border-bottom: transparent;
}

#moreInfoBtn[aria-expanded="true"] {
    color: rgba(237, 157, 177, 1);
}

#moreInfoBtn[aria-expanded="false"] {
    color: rgba(0, 0, 0, 0.4);
}

#moreInfoBtn:hover {
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-bottom: transparent;
}

.legal {
    background-color: rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(0, 0, 0, 0);
    -webkit-box-shadow: 5px 10px 40px rgba(0,0,0,0);
    box-shadow: 5px 10px 40px rgba(0,0,0,0);
}

.legal.show {
    border-top: 1px solid rgba(0, 0, 0,0.15);
    -webkit-box-shadow: 0px -9px 40px rgba(0,0,0,0.15);
    box-shadow: 0px -9px 40px rgba(0,0,0,0.15);
}

.btn {
    font-size: 1.25rem;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-weight: 600;
    font-family: 'Poiret One';
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    background-color: rgba(255, 255, 255, 1);
}


.btn:hover {
    border: 1px solid rgba(237, 157, 177, 1);
    color: rgba(237, 157, 177, 1);
    cursor: pointer;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}

/* NOTE: END FOOTER.......................................................................................................................*/
