<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^([0-9a-zA-Z]+)$ catalog.php?cat=$1 [NC]
  RewriteRule ^([0-9a-zA-Z]+)/([0-9]+)/([A-Za-z0-9_é-]+)$ details.php?category=$1&id=$2&title=$3 [NC,L]
</IfModule>
